<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/calculator"
        android:label="@string/App_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculatorConverter"
        tools:targetApi="31">
        <activity
            android:name=".RecyclerViewTest"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Convertor">
        </activity>
        <activity
            android:name=".Data"
            android:exported="true" />
        <activity
            android:name=".Temperature"
            android:exported="true" />
        <activity
            android:name=".Age"
            android:exported="true" />
        <activity
            android:name=".NumberConversion"
            android:exported="true" />
        <activity
            android:name=".Dicount"
            android:exported="true" />
        <activity
            android:name=".BMI"
            android:exported="true" />
        <activity
            android:name=".Area"
            android:exported="true" />
        <activity
            android:name=".Time"
            android:exported="true" />
        <activity
            android:name=".Currancy"
            android:exported="true" />
    </application>

</manifest>